@CHARSET "UTF-8";
body{
	marign:0;
	font-family:microsoft yahei;
}
.main{
	padding: 20px;
	box-sizing: border-box;
}
.title{
	font-size:15px;
}
.line{
	font-size:0px;
	margin-top:15px;
}
.ui-title{
	display:inline-block;
	width:35%;
	font-size:14px;
	vertical-align:middle;
}
.ui-input{
	display: inline-block;
	width: 65%;
	box-sizing: border-box;
	outline: 0;
	vertical-align:middle;
	height: 37px;
	line-height: 37px;
	text-indent:10px;
	border: solid 1px #ccc;
	font-size:14px;
}
.ui-input.fir{
	text-indent:0px;
	border:0;
}
.ui-input.money{
	width:100%;
	margin-top:10px;
	background:#eee;
}
input::-webkit-input-placeholder{
	font-size:12px;
	font-family:microsoft yahei;
}
.btn-panel{
	text-align: center;
	padding-top: 30px;
}
.btn{
	display: inline-block;
	background: #eee;
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
	min-width: 100px;
}
.jselect{
	width:100%;
}
.selector .text{
	height:35px !important;
	
}
.selector .text>div{
	line-height:35px !important;
	text-indent: 10px;
	font-size:14px !important;
}
.selector-list .list-item{
	font-size:16px !important;
}

.main.success{
	padding-top:23%;
	box-sizing:border-box;
}
.order{
	margin-bottom:10px;
}

